<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/floating-labels.css">
</head>

<body>
    <form class="form-signin" method="GET" action="/auth">
        <div class="text-center mb-4">
            <h1 class="h2 mb-3 font-weight-normal">Hi <%=user.name%></h1>
            <h1 class="h3 mb-3 font-weight-normal">Вход в локальную сеть</h1>
            <p>Введите в соответствующие поля значения <code>publickey & password</code> для пользователя в локальной
                сети</p>
        </div>

        <div class="form-label-group">
            <input type="text" id="inputUser" class="form-control" name="key" placeholder="Publickey" required
                autofocus>
            <label for="inputUser">Publickey</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password"
                required>
            <label for="inputPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Запомнить меня
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>

</html>